/* font-family: 'Cookie', cursive; */
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');

/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');


h1 {
    font-weight: 100;
    line-height: 80%;
    align-self: center;
    font-family: 'Cookie';
    text-align: center;
    font-size: 71px;
    color: #e3eece;
}

body {
    background-image: url('./assets/04-BG.png');
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    display: flex;
    background-color: #ACD0B6;
    top: 0;
    height: 65pt;
    width: 100%;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

#container {
    margin: 0 auto;
    margin-top: 10%;
    justify-content: center;
    width: 320pt;
}

.formContent {
    padding: 5%;
    margin-bottom: 5%;
    border-radius: 4pt;
    border: none;
}

#send {
    color:white;
    padding: 3%;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16pt;
    box-shadow: 0pt 6pt #4a8978;
    background-color: #71a397;
}

::placeholder {
    font-family: 'Open Sans';
    font-size:13pt;
    color: #A2A7AD;
}