h1 {
    font-weight: normal;
    line-height: 80%;
    align-self: center;
    font-family: 'Cookie';
    text-align: center;
    font-size: 71px;
    color: #e3eece;
}

body {
    background-image: url('../assets/background.png');
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    display: flex;
    background-color: #ACD0B6;
    top: 0;
    height: 60pt;
    width: 100%;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

#container {
    margin: 0 auto;
    margin-top: 200px;
    justify-content: center;
    width: 320pt;
}

.formContent {
    padding: 5%;
    margin-bottom: 5%;
    border-radius: 4pt;
    border: none;
}

#send {
    color:white;
    cursor: pointer;
    padding: 3%;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 22px;
    box-shadow: 0px 8px #4a8978;
    background-color: #71a397;
}

::placeholder {
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size:18px;
    color: #385960;
}